@import '../../assets/Style/partials/variables';
ul {
    list-style-type: none;
    padding: 0px;
    li {
        margin: 15px 0;
    }
}

mat-card-header {
    display: flex;
    justify-content: space-between;
}

.delete {
    margin: -1rem -1rem 0 0;
}

// mat-card {
//     box-shadow: 0 2px 3px $accent, 0 0 0 1px $accent !important;
// }