<ul class="tasks">
  <li *ngFor="let task of tasks">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ task.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <div class="row">
          <div clas="container">
            <p>{{ task.description }}</p>
          </div>
        </div> -->
        <div class="row">
          <div class="col-4-sm">
            {{ task.category }}
          </div>
          <div class="col-4-sm">
            {{ task.priority }}
          </div>
          <div class="col-4-sm">
            {{ task.progress }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </li>
</ul>
