$custom-blue: (
    50 : #e5e6e7,
    100 : #bebfc2,
    200 : #92959a,
    300 : #666b71,
    400 : #2e3d51,
    500 : #252b34,
    600 : #21262f,
    700 : #1b2027,
    800 : #161a21,
    900 : #0d1015,
    A100 : #599cff,
    A200 : #267dff,
    A400 : #0061f2,
    A700 : #0057d9,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #de8a74,
        400 : #de8a74,
        500 : #de8a74,
        600 : #de8a74,
        700 : #de8a74,
        800 : #de8a74,
        900 : #de8a74,
        A100 : #000000,
        A200 : #de8a74,
        A400 : #de8a74,
        A700 : #de8a74,
        ) 
        );
        
$custom-orange: (
    50 : #fae7e2,
    100 : #f2c4b8,
    200 : #ea9d88,
    300 : #e17658,
    400 : #da5835,
    500 : #d43b11,
    600 : #cf350f,
    700 : #c92d0c,
    800 : #c3260a,
    900 : #b91905,
    A100 : #ffe5e3,
    A200 : #ffb5b0,
    A400 : #ff867d,
    A700 : #ff6e64,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #de8a74,
        500 : #de8a74,
        600 : #de8a74,
        700 : #de8a74,
        800 : #de8a74,
        900 : #de8a74,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
); 
