$custom-blue: (
    50 : #eef0fd,
    100 : #d5dbfb,
    200 : #b9c3f9,
    300 : #9daaf6,
    400 : #8898f4,
    500 : #2E3D51,
    600 : #6b7ef0,
    700 : #6073ee,
    800 : #5669ec,
    900 : #353c63,
    A100 : #ffffff,
    A200 : #f4f4f4,
    A400 : #d4d9ff,
    A700 : #bbc2ff,
    contrast: (
        50 : #d77156,
        100 : #d77156,
        200 : #d77156,
        300 : #d77156,
        400 : #d77156,
        500 : #d77156,
        600 : #d77156,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #d77156,
        A200 : #d77156,
        A400 : #d77156,
        A700 : #d77156,
        ) 
        );
        
$custom-orange: (
    50 : #f9ebe7,
    100 : #f1cdc3,
    200 : #e8ac9c,
    300 : #de8a74,
    400 : #d77156,
    500 : #d43b11,
    600 : #cb5032,
    700 : #c4472b,
    800 : #be3d24,
    900 : #b32d17,
    A100 : #ffe9e6,
    A200 : #ffbcb3,
    A400 : #ff8f80,
    A700 : #ff7867,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #de8a74,
        600 : #de8a74,
        700 : #de8a74,
        800 : #de8a74,
        900 : #de8a74,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
); 