<div class="goalDashContainer">
  <ng-container *ngFor="let goal of goals">
    <mat-card class="card goalItem">
      <mat-card-header>
        <mat-card-title>
          {{ goal.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="contentContainer">
          <ng-container *ngFor="let task of goal.tasks">
            <mat-card class="card taskItem goals-bg">
              <mat-card-header>
                <mat-card-title>
                  {{ task.title }}
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <p>{{ task.description.substring(0, 20) }}...</p>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>

