.contentContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.taskItem {

    width: 25%;
}

.goalItem {
    flex-basis: 30%;
}

.goalDashContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}