<div class="taskBoardHeader center">
  <div class="row">
    <div class="col-4-sm">
      <mat-card class="title ToDo card">To Do</mat-card>
    </div>
    <div class="col-4-sm">
      <mat-card class="title InProgress card">In Progress</mat-card>
    </div>
    <div class="col-4-sm">
      <mat-card class="title Complete card">Complete</mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-4-sm">
      <mat-card class="task ToDo card">
        <p>tasks go here</p>
      </mat-card>
    </div>
    <div class="col-4-sm">
      <mat-card class="taskIn Progress card">
        <p>tasks go here</p>
      </mat-card>
    </div>
    <div class="col-4-sm">
      <mat-card class="task Complete card">
        <p>tasks go here</p>
      </mat-card>
    </div>
  </div>
</div>
