<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card class="card">
        <mat-card-title>
          High Priority Tasks
        </mat-card-title>
        <mat-card-content>
          <p>No tasks to display</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card class="card">
        <mat-card-title>
          Recent Tasks
        </mat-card-title>
        <mat-card-content>
          <p>No tasks to display</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <mat-card class="card">
        <mat-card-title>
          Quick look
        </mat-card-title>
        <mat-card-content>
          <mat-tab-group class="task-tab-group" [dynamicHeight]="true">
            <mat-tab label="To Do">
              <ng-container *ngIf="taskToDo && taskToDo.length > 0; else noTasks">
                <ng-container *ngFor="let task of taskToDo">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header class="expansion-header">
                      <mat-panel-title>
                        {{ task.title }}
                      </mat-panel-title>
                        <div class="progress">{{ task.progress }}</div>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <h3>Description:</h3>
                      {{ task.description }}
                      <mat-divider [inset]="true"></mat-divider>
                      <button mat-stroked-button color="warn">Delete</button>
                      <button mat-stroked-button color="warn">Open</button>
                    </ng-template>
                  </mat-expansion-panel>
                </ng-container>
              </ng-container>
            </mat-tab>
            <mat-tab label="In Progress">
              <ng-container *ngIf="taskInProgress && taskInProgress.length > 0; else noTasks">
                <ng-container *ngFor="let task of taskInProgress">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header class="expansion-header">
                      <mat-panel-title>
                        {{ task.title }}
                      </mat-panel-title>
                        <div class="progress">{{ task.progress }}</div>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <h3>Description:</h3>
                      {{ task.description }}
                      <mat-divider [inset]="true"></mat-divider>
                      <button mat-stroked-button color="warn">Delete</button>
                      <button mat-stroked-button color="warn">Open</button>
                    </ng-template>
                  </mat-expansion-panel>
                </ng-container>
              </ng-container>
            </mat-tab> 
            <mat-tab label="Complete">
              <ng-container *ngIf="taskComplete && taskComplete.length > 0; else noTasks">
                <ng-container *ngFor="let task of taskComplete">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header class="expansion-header">
                      <mat-panel-title>
                        {{ task.title }}
                      </mat-panel-title>
                        <div class="progress">{{ task.progress }}</div>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent>
                      <h3>Description:</h3>
                      {{ task.description }}
                      <mat-divider [inset]="true"></mat-divider>
                      <button mat-stroked-button color="warn">Delete</button>
                      <button mat-stroked-button color="warn">Open</button>
                    </ng-template>
                  </mat-expansion-panel>
                </ng-container>
              </ng-container>
            </mat-tab>     
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="dash-space"></div>
<ng-template #noTasks>
  <p>No tasks to display</p>
</ng-template>